<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="chatspage.css">
</head>
<body>
    <div id="CHATS-PAGE">

        <!--Header Starts Here-->
        <section id="HEADER">
            <!--Header Top Div Begins Here-->
            <div id="HEADER-TOP-DIV">
                 <div id="HEADER-BTNS">
                    <button id="CHATSH-BTN" class="HEADER-BTNS" onclick="window.location.href='/chats'">⬅️</button>
                </div>
                <div id="APP-DETAILS">
                    <div id="HEADER-APPNAME"><h2>Moi Space</h2></div>
                </div>

                <div id="USER-DETAILS">
                     <div id="HEADER-LOGO"></div>               
                </div>
            </div>

            <!--Header Middle Div Begins Here-->
            <div id="HEADER-MIDDLE-DIV"><h3>Made for Moi University</h3></div>

            <!--Header Bottom Div Begins Here-->
            <div id="HEADER-BOTTOM-DIV">
                <div id="HEADER-PROFILEPIC"></div>
                <div id="HEADER-USERNAME"><h3 id="H-USERNAME">Amani_Kibet</h3></div>
            </div>
        </section>





        <!--Main section Begins Here-->
<section id="MAIN-SECTION">
    <div class="CHAT-BODY" id="chatBody">
    </div>
</section>
<section id="BOTTOMBAR">
        <label for="FILE-INPUT" id="FILE">Pic</label>
            <input id="FILE-INPUT" name="FILE" type="file" placeholder="Upload" hidden></input>

        <div id="MESSAGE-DIV" ><textarea id="MESSAGE-INPUT" name="MESSAGE-DIV" type="text" placeholder="Send a message..." ></textarea>
        <button id="SEND-BTN" type="submit">~></button></div>
</section></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/chatspage.js"></script>
</body>
</html>
