<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="chats.css">
</head>
<body>
    <div id="CHATS-PAGE">

        <!--Header Starts Here-->
        <section id="HEADER">
            <!--Header Top Div Begins Here-->
            <div id="HEADER-TOP-DIV">
                <div id="APP-DETAILS">
                    <div id="HEADER-LOGO"></div>
                    <div id="HEADER-APPNAME"><h2>Moi Space</h2></div>
                </div>

                <div id="HEADER-BTNS">
                    <button id="CHATSH-BTN" class="HEADER-BTNS"><a href="http://localhost:3000/home">🛖</a></button>
                    <button id="INTERESTSH-BTN" class="HEADER-BTNS"><a href="http://localhost:3000/interests">🩵</a></button>
                </div>

                <div id="USER-DETAILS">
                    <div id="HEADER-USERNAME"><h3><%=user.username %></h3></div>
                    <div id="HEADER-PROFILEPIC"></div>
                </div>
            </div>

            <!--Header Middle Div Begins Here-->
            <div id="HEADER-MIDDLE-DIV"><h3>Made for Moi University</h3></div>

            <!--Header Bottom Div Begins Here-->
            <div id="HEADER-BOTTOM-DIV">
                <h4>Campus hearts, real connections</h4>
            </div>
        </section>

        <!--Main section Begins Here-->
        <section id="MAIN-SECTION">
            <div id="MAIN-SECTION-HEADER">
                <input type="text" placeholder="Search contacts..." id="CONTACTS-SEARCH">
            </div>

            <div id="CONTACTS-BODY">
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <h4 class="CONTACTS-NOTE">Hello world this is Rick Deazer of the aerospace org</h4>
                    </div>
                </div>

                 <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <h4 class="CONTACTS-NOTE">Hello there...</h4>
                    </div>
                </div>

                  <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <h4 class="CONTACTS-NOTE">Hello there...</h4>
                    </div>
                </div>

                  <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <h4 class="CONTACTS-NOTE">Hello there...</h4>
                    </div>
                </div>

                  <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <h4 class="CONTACTS-NOTE">Hello there...</h4>
                    </div>
                </div>
                
                  <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <h4 class="CONTACTS-NOTE">Hello there...</h4>
                    </div>
                </div>

                  <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <h4 class="CONTACTS-NOTE">Hello there...</h4>
                    </div>
                </div>

                  <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <h4 class="CONTACTS-NOTE">Hello there...</h4>
                    </div>
                </div>

                  <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <h4 class="CONTACTS-NOTE">Hello there...</h4>
                    </div>
                </div>

                  <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <h4 class="CONTACTS-NOTE">Hello there...</h4>
                    </div>
                </div>

                  <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <h4 class="CONTACTS-NOTE">Hello there...</h4>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>
</html>
