<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta charset="UTF-8">
    <!-- Make mobile browser go fullscreen -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="green">
    <title>Home Page</title>
    <link rel="stylesheet" href="homepage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
</head>
<body>
    <div id="HOME-PAGE">

        <!--Header Starts Here-->
        <section id="HEADER">
            <!--Header Top Div Begins Here-->
            <div id="HEADER-TOP-DIV">
                <div id="APP-DETAILS">
                <div id="HEADER-LOGO"></div>
                <div id="HEADER-APPNAME"><h2>Moi Space</h2></div>
                </div>

                <div id="HEADER-BTNS">
                <button onclick="window.location.href='/chats'" id="CHATSH-BTN" class="HEADER-BTNS" ><span class="material-symbols-outlined" id="mat2">chat_bubble</span><%if(unread){%><div id="MSG-BADGE" class="BADGE"><%= unread%></div><%}%></button>
                <button onclick="window.location.href='/interests'" id="INTERESTSH-BTN" class="HEADER-BTNS"><span class="material-symbols-outlined">
heart_check
</span></button>
                </div>

                <div id="USER-DETAILS">
                    <div id="HEADER-USERNAME"><h3><%= user.username %></h3></div><a href="/userProfile">
                    <div id="HEADER-PROFILEPIC" <% if (user.profileLink) {%>style="background: url(<%=user.profileLink%>); background-size: cover;"<%
                      
                    }%>></div></a>
                </div>
            </div>

            <!--Header Middle Div Begins Here-->
            <div id="HEADER-MIDDLE-DIV"><h3>Made for Moi University</h3></div>

            <!--Header Bottom Div Begins Here-->
            <div id="HEADER-BOTTOM-DIV">
                <input type="text" placeholder="Search for souls..." id="HOME-SEARCH"> <span class="material-symbols-outlined" id="searchInputBtn">search</span>
            </div>
        </section>
         <a href="/home"><button id="exit"></button></a>
        <!--Main section Begins Here-->
        <section id="mainSection">


    <div class="MAIN-USERS"><div class="MAIN-USERS-IMG" ></div>
    
    <div class="itemsGrp"><div class="MAIN-USERS-USERNAME">
      Rick 
      (<span class="MAIN-USERS-COURSE">Computer Science</span> 
      <span class="MAIN-USERS-YEAR">First Year</span>)</div>
      <button class="commentBtns">Comments</button>
    </div>
    
    <form method="POST" action="/user"><input type="hidden" name="username" value="Rick"></form></div>


    

    <div class="MAIN-USERS"><div class="MAIN-USERS-IMG"><div class="commentsBody">

        <h3>comments</h3>
        <h4>Hi girl you look so pretty amazingHi girl you look so pretty amazingHi girl you look so pretty amazingHi girl you look so pretty amazingHi girl you look so pretty amazingHi girl you look so pretty amazing</h4>
        <h4>Hi girl you look so pretty amazing</h4>
        <h4>Hi girl you look so pretty amazing</h4>
        <h4>Hi girl you look so pretty amazing</h4>
        <h4>Hi girl you look so pretty amazing</h4>
        <h4>Hi girl you look so pretty amazingHi girl you look so pretty amazingHi girl you look so pretty amazing</h4>
        <h4>Hi girl you look so pretty amazing</h4>
        <h4>Hi girl you look so pretty amazing</h4>
    </div><div class="newCommentItems"><input type="text" class="new"><button class="addComment">Add</button></div></div>
    
    <div class="itemsGrp"><div class="MAIN-USERS-USERNAME">
      Rick 
      (<span class="MAIN-USERS-COURSE">Computer Science</span> 
      <span class="MAIN-USERS-YEAR">First Year</span>)</div>
      <button class="commentBtns">Comments</button>
    </div>
    
    <form method="POST" action="/user"><input type="hidden" name="username" value="Rick"></form></div>


    

    <div class="MAIN-USERS"><div class="MAIN-USERS-IMG"></div>
    
    <div class="itemsGrp"><div class="MAIN-USERS-USERNAME">
      Rick 
      (<span class="MAIN-USERS-COURSE">Computer Science</span> 
      <span class="MAIN-USERS-YEAR">First Year</span>)</div>
      <button class="commentBtns">Comments</button>
    </div>
    
    <form method="POST" action="/user"><input type="hidden" name="username" value="Rick"></form></div>


    

    <div class="MAIN-USERS"><div class="MAIN-USERS-IMG" ></div>
    
    <div class="itemsGrp"><div class="MAIN-USERS-USERNAME">
      Rick 
      (<span class="MAIN-USERS-COURSE">Computer Science</span> 
      <span class="MAIN-USERS-YEAR">First Year</span>)</div>
      <button class="commentBtns">Comments</button>
    </div>
    
    <form method="POST" action="/user"><input type="hidden" name="username" value="Rick"></form></div>



    

    <div class="MAIN-USERS"><div class="MAIN-USERS-IMG"></div>
    
    <div class="itemsGrp"><div class="MAIN-USERS-USERNAME">
      Rick 
      (<span class="MAIN-USERS-COURSE">Computer Science</span> 
      <span class="MAIN-USERS-YEAR">First Year</span>)</div>
      
      <button class="commentBtns">Comments</button>
    </div>
    
    <form method="POST" action="/user"><input type="hidden" name="username" value="Rick"></form></div>
        </section>

    </div>
</body>
<script src="/homepage.js"></script>
</html>