<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="interests.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">

</head>
<body>
    <div id="CHATS-PAGE">

        <!--Header Starts Here-->
        <section id="HEADER">
            <!--Header Top Div Begins Here-->
            <div id="HEADER-TOP-DIV">
                <div id="APP-DETAILS">
                    <div id="HEADER-LOGO"></div>
                    <div id="HEADER-APPNAME"><h2>Moi Space</h2></div>
                </div>

                <div id="HEADER-BTNS">
                    <button id="CHATSH-BTN" class="HEADER-BTNS"><a href="/home"><span class="material-symbols-outlined">home</span></a></button>
                    <button id="INTERESTSH-BTN" class="HEADER-BTNS"><a href="/chats"><span class="material-symbols-outlined">chat_bubble</span></a></button>
                </div>

                <div id="USER-DETAILS">
                    <div id="HEADER-USERNAME"><h3><%= user.username%></h3></div>
                    <div id="HEADER-PROFILEPIC"></div>
                </div>
            </div>

            <!--Header Middle Div Begins Here-->
            <div id="HEADER-MIDDLE-DIV"><div id="headerLine" style="width:100%; height: 1px; background:linear-gradient(45deg, rgb(215, 149, 27), greenyellow); margin-bottom: 3px; border-radius: 50%;"></div><h3>Made for Moi University</h3></div>

            <!--Header Bottom Div Begins Here-->
            <div id="HEADER-BOTTOM-DIV">
                <h4>Campus hearts, real connections</h4>
            </div>
        </section>

        <!--Main section Begins Here-->
        <section id="MAIN-SECTION">
            <div id="MAIN-SECTION-HEADER">
                <button type="button" action="sent" class="MAIN-BUTTONS" id="sentBtn" class="selectedBtn">Sent</button>
                <button type="button" action="sent" class="MAIN-BUTTONS" id="receivedBtn">Received</button>
            </div> 
    <div id="CONTACT-BODIES">
            <div id="CONTACTS-BODY1" class="HIDE-BODY">
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Rick Deazer</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                 <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                 <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                 <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                 <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
                <div class="CONTACTS">
                    <div class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div id="INTERESTS-BTN-CONTAINER">
                          <button id="Interested" class="INTERESTS-BTN">Interested</button>
                          <button id="Decline" class="INTERESTS-BTN">Decline</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="CONTACTS-BODY2" >

                <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS Pending">
                        <h3>Status: Pending</h3>
                        </div>
                    </div>
                </div>


                     <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS Interested">
                        <h3>Status: Interested</h3>
                        </div>
                    </div>
                </div>


                     <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS notInterested">
                        <h3>Status: Not Interested</h3>
                        </div>
                    </div>
                </div>


                  <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS notInterested">
                        <h3>Status: Not Interested</h3>
                        </div>
                    </div>
                </div>

                
                <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS Pending">
                        <h3>Status: Pending</h3>
                        </div>
                    </div>
                </div>

                <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS notInterested">
                        <h3>Status: Not Interested</h3>
                        </div>
                    </div>
                </div>

                
                <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS Pending">
                        <h3>Status: Pending</h3>
                        </div>
                    </div>
                </div>

                <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS notInterested">
                        <h3>Status: Not Interested</h3>
                        </div>
                    </div>
                </div>

                
                <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS Pending">
                        <h3>Status: Pending</h3>
                        </div>
                    </div>
                </div>

                <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS notInterested">
                        <h3>Status: Not Interested</h3>
                        </div>
                    </div>
                </div>

                
                <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS Pending">
                        <h3>Status: Pending</h3>
                        </div>
                    </div>
                </div>

                <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS notInterested">
                        <h3>Status: Not Interested</h3>
                        </div>
                    </div>
                </div>

                
                <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS Pending">
                        <h3>Status: Pending</h3>
                        </div>
                    </div>
                </div>

                <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS notInterested">
                        <h3>Status: Not Interested</h3>
                        </div>
                    </div>
                </div>

                
                <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS Pending">
                        <h3>Status: Pending</h3>
                        </div>
                    </div>
                </div>


                     <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS Interested">
                        <h3>Status: Interested</h3>
                        </div>
                    </div>
                </div>

                
                <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS Pending">
                        <h3>Status: Pending</h3>
                        </div>
                    </div>
                </div>


                     <div class="CONTACTS">
                    <div       class="CONTACTS-PROFILEPIC"></div>
                    <div class="CONTACTS-INFO">
                        <h3 class="CONTACTS-USERNAME">Amani Kibet</h3>
                        <div class="INTERESTS-STATUS Interested">
                        <h3>Status: Interested</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </section>

    </div>
</body>
<script>
  const body1 = document.getElementById('CONTACTS-BODY1');
  const body2 = document.getElementById('CONTACTS-BODY2');
  const sentBtn = document.getElementById('sentBtn');
  const receivedBtn = document.getElementById('receivedBtn')
  sentBtn.addEventListener('click', ()=>{
    body1.classList.add('HIDE-BODY');
    body2.classList.remove('HIDE-BODY');
  });
  receivedBtn.addEventListener('click', ()=>{
    body1.classList.remove('HIDE-BODY');
    body2.classList.add('HIDE-BODY');
  });
</script>
</html>
