@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Lora:ital,wght@0,400..700;1,400..700&family=Offside&family=Oleo+Script:wght@400;700&family=Rubik+Wet+Paint&family=Trade+Winds&display=swap');
body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: rgb(3, 1, 1);
    width: 100vw;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24;
  color: whitesmoke;
  background: transparent;
  margin-top: 7px;
  text-align: center;
  justify-self: center;
  align-self: center;
}
.material-symbols-outlined:hover{
    scale: 1.2;
}
    #CHATS-PAGE{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100%;
    min-width: 100vw;
    user-select: none;
   }
    #HEADER{
        background: linear-gradient(45deg, rgb(0, 0, 0), rgb(74, 9, 61));
        color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 100;
        border-bottom: solid 1px salmon;
        position: fixed;
    }
    #HEADER-TOP-DIV{
        display: flex;
        place-content: space-between;
        align-items: start;
        justify-content: start;
        gap: 5px;
        height: 2.8rem;
        place-content: space-between;
    }
    #APP-DETAILS{
        display: flex;
        flex-direction: row;
        gap: 8px;
        height: 95%;
        width:12em;
        justify-content: center;
    }
    #HEADER-LOGO{
        background: url("/mediafiles/HeaderLogo.png");
        width: 45px;
        height: 45px;
        background-size: cover;
        padding-right: 5px;
        background-repeat: no-repeat;
    }
    #HEADER-APPNAME{
        font-size: 0.9rem;
        align-self: center;
        color: rgb(230, 139, 206);
        font-family: 'Trade Winds';
        padding-right: 5px;
        padding-bottom: 8px;
        width: 150px;
    }
     #HEADER-APPNAME h2{
        text-align: center;
        margin: 0px;
        padding-top: 10px;
    }
      #HEADER-MIDDLE-DIV{
        align-self: center;
        justify-self: start;
        height: 20px;    
    }
    #HEADER-MIDDLE-DIV H3{
        text-align: center;
        margin-top: 0px;
        font-family: 'Oleo script';
        font-weight:100;
        letter-spacing: 1px;
        font-size: small;   
    }
    #HEADER-BTNS{
        height: inherit;
        width: 100px;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .HEADER-BTNS{
        width: 1.5em;
        height: 50%;
        border-radius: 5px;
        outline: none;
        border: none;
        font-size: 1.5rem;
        background:transparent;
        padding-bottom: 5px;
        padding: 0px;
        padding-left: 9px;
        
    }
    #USER-DETAILS{
        display: flex;
        flex-direction: row;
        width: 100px;
        gap: 10px;
        justify-content: end;
    }

    #HEADER-PROFILEPIC{
        background-color: yellowgreen;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 2px;
        margin-right: 5px;
    }

    #HEADER-BOTTOM-DIV{
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        width: 100%;
        max-height: 50px;
        padding-left: 10px;
        justify-content: start;
        
    }
     #HEADER-USERNAME{
        font-family: 'lora';
        font-size: 0.7em;
        font-style: italic;
        padding-left: 10px;
    }
    #HEADER-BOTTOM-DIV h4{
       font-size: 0.8re m;
        font-weight: lighter;
    }


    #mainSection{
        width: 100%;
        min-height: 80vh;
        background-color: rgb(33, 6, 27);
        margin-top: 70px;
        padding-top: 20px;
        display: block;
        padding-bottom: 50px;
        bottom: 0;
    }
    .CHAT-BODY{
        padding-top: 20px;
        width: 100%;
        min-height: 80vh;
        background:white url('/mediafiles/berries-8577873_1920.jpg') ;
        background-attachment: fixed;
        background-color: wheat;
        color: rgb(0, 0, 0);
        margin-top: auto;
        padding-bottom: 20px;
        overflow-y: auto;
        display: block;
        scroll-behavior: smooth;
    }

    .SENDER-TEXT{
        min-height: 20px;
        justify-content: center;
        justify-self: end;
        max-width: 50%;
        display: flex;
        padding-top: 4px;
        flex-direction: column;
        font-size: 0.8rem;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: normal;
        padding-left: 5px;
        line-height: 0.9rem;
        padding-bottom: 5px;
        text-align: end;
        background: linear-gradient(45deg, rgb(20, 81, 13), rgb(2, 22, 3));
        color: white;
        border-radius: 10px;
        border-top-right-radius: 3px;
        margin-right: 5px;
        margin-top: 5px;
        padding-right: 8px;
        display: flex;
        flex-direction: column;
        place-content: space-between;
        overflow-wrap: anywhere;
        line-height: 23px;
        min-width: 140px;
        letter-spacing: .1px;

    }
    .SENDER-TEXT h3{
        padding: 0px;
        margin: 0px;
    }
    .RECEPIENT-TEXT h3{
        padding: 0px;
        margin: 0px;
    }
    .TIME{
        color: rgb(142, 142, 142);
        text-align: end;
        font-family: 'calibri';
        font-size: smaller;
        font-weight: bold;
        
    }
    .RECEPIENT-TEXT{
        min-height: 25px;
        max-width: 55%;
        min-width: 140px;
        font-size: 0.8rem;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: normal;
        padding-left: 5px;
        justify-content: center;
        text-align: start;
        padding-bottom: 0px;
        background:linear-gradient(45deg, rgb(36, 6, 28), rgb(78, 2, 2));
        color: white;
        border-left: 1px solid rgb(121, 6, 98);
        border-top: 1px solid rgb(83, 10, 58);
        border-radius: 10px;
        border-top-right-radius: 3px;
        margin-left: 4px;
        margin-top: 5px;
        padding-right: 8px;
        padding-top: 2px;
        line-height: 23px;
        overflow-wrap:break-word;
        display: flex;
        flex-direction: column;

    }
    #BOTTOMBAR{
        background: linear-gradient(45deg, rgb(8, 8, 82), rgb(107, 13, 13));
        display: flex;
        min-height: 40px;
        flex-direction: row;
        align-items: center;
        place-content: space-between;
        background-color: red;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        position: fixed;
        width: 100%;
        gap: 20px;
        bottom: 0;
        align-items: end;

        
    }
    #FILE{
        width: 80px;
        border-radius: 8px;
        color: white;
        align-content: center;
        text-align: center;
        background: linear-gradient(50deg, rgb(188, 123, 12), rgb(1, 1, 80));
        background-color: black;
        margin-left: 20px;
        min-height: 38px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: lowercase;
    }
    #MESSAGE-DIV{
        margin-right: 10px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: end;
        justify-self: flex-start;
        gap: 15px;
       }
    #MESSAGE-INPUT{
        min-height: 28px;
        width: 100%;
        border-radius: 10px;
        border: none;
        border: solid 1px rgb(18, 6, 6) ;
        color: rgb(232, 230, 230);
        background-color: rgb(176, 120, 15);
        justify-self: center;
        align-content: center;
        padding-left: 10px;
        overflow-y: auto;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        line-height: 18px;
    }

    #MESSAGE-INPUT:focus{
        background: url('/mediafiles/autumn-7517221_1920.jpg');
        background-size: cover;
        background-color: rgb(8, 108, 10);
        background-blend-mode:color-burn;
        text-shadow: 0 0 12px black;
        border: 1px solid rgb(22, 21, 21);
        outline: none;
        border-radius: 3px;
    }
     #MESSAGE-INPUT:focus::placeholder{
        font-size: 0rem;
     }
    #MESSAGE-INPUT::placeholder {
        color: rgb(21, 9, 52);
        font-style: italic;
        font-size: small;
        font-family: 'Lora';
        font-weight: bold;
        letter-spacing: 3px;
        
    }
    #SEND-BTN{
        height: 38px;
        user-select: none;
        border: solid 1px rgb(149, 125, 16);
        border-left: none;
        align-self: flex-end;
        width: 60px;
        align-content: center;
        background:transparent;
        letter-spacing: 0px;
        font-weight: bold;
        padding-bottom: 3px;
        color: rgb(14, 238, 14);
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        text-shadow: 0 0 11px rgb(0, 0, 0),
        0 0 11px rgb(5, 6, 27),
        0 0 11px rgb(2, 2, 2),
        0 0 11px rgb(0, 0, 0);
        border: none;
    }
    #SEND-BTN:hover{
        animation: sendBtn .5s ease ;
    }
    @keyframes sendBtn {
        0%{color: black;}
    80%{color: rgb(8, 255, 8);scale: 0.95;}
    100%{color: black;}
    }