@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Lora:ital,wght@0,400..700;1,400..700&family=Offside&family=Oleo+Script:wght@400;700&family=Rubik+Wet+Paint&family=Trade+Winds&display=swap');
body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: rgb(3, 1, 1);
    width: 100vw;
    overflow: hidden;
}

    #CHATS-PAGE{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    min-width: 100vw;
   }
    #HEADER{
        background: linear-gradient(45deg, rgb(0, 0, 0), rgb(74, 9, 61));
        color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 100;
        border-bottom: solid 1px salmon;
        position: fixed;
    }
    #HEADER-TOP-DIV{
        display: flex;
        place-content: space-between;
        align-items: start;
        justify-content: start;
        gap: 5px;
        height: 2.8rem;
        place-content: space-between;
    }
    #APP-DETAILS{
        display: flex;
        flex-direction: row;
        gap: 8px;
        height: 95%;
        width:12em;
        justify-content: center;
    }
    #HEADER-LOGO{
        background: url("/mediafiles/HeaderLogo.png");
        width: 45px;
        height: 45px;
        background-size: cover;
        padding-right: 5px;
        background-repeat: no-repeat;
    }
    #HEADER-APPNAME{
        font-size: 0.9rem;
        align-self: center;
        color: rgb(230, 139, 206);
        font-family: 'Trade Winds';
        padding-right: 5px;
        padding-bottom: 8px;
        width: 150px;
    }
     #HEADER-APPNAME h2{
        text-align: center;
        margin: 0px;
        padding-top: 10px;
    }
      #HEADER-MIDDLE-DIV{
        align-self: center;
        justify-self: start;
        height: 20px;    
    }
    #HEADER-MIDDLE-DIV H3{
        text-align: center;
        margin-top: 0px;
        font-family: 'Oleo script';
        font-weight:100;
        letter-spacing: 1px;
        font-size: small;   
    }
    #HEADER-BTNS{
        height: inherit;
        width: 100px;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .HEADER-BTNS{
        width: 1.5em;
        height: 50%;
        border-radius: 5px;
        outline: none;
        border: none;
        font-size: 1.5rem;
        background-color: rgb(30, 3, 29);
        padding-bottom: 5px;
        padding: 0px;
        padding-left: 9px;
        
    }
    #USER-DETAILS{
        display: flex;
        flex-direction: row;
        width: 100px;
        gap: 10px;
        justify-content: end;
    }

    #HEADER-PROFILEPIC{
        background-color: yellowgreen;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 2px;
        margin-right: 5px;
    }

    #HEADER-BOTTOM-DIV{
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        width: 100%;
        max-height: 50px;
        padding-left: 10px;
        justify-content: start;
        
    }
     #HEADER-USERNAME{
        font-family: 'lora';
        font-size: 0.7em;
        font-style: italic;
        padding-left: 10px;
    }
    #HEADER-BOTTOM-DIV h4{
       font-size: 0.8re m;
        font-weight: lighter;
    }


    #MAIN-SECTION{
        width: 100%;
        height: 100vh;
        background-color: rgb(33, 6, 27);
        margin-top: 105px;
        display: block;
    }
    .CHAT-BODY{
        padding-top: 10px;
        width: 100%;
        height: 100%;
        background:white url('/mediafiles/berries-8577873_1920.jpg') cover fixed;
        color: rgb(0, 0, 0);
        margin-top: auto;
        padding-bottom: 90px;
        bottom: 0;
    }

    .SENDER-TEXT{
        min-height: 20px;
        justify-content: center;
        justify-self: end;
        width: 50%;
        display: flex;
        padding-top: 4px;
        flex-direction: column;
        font-size: 0.8rem;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 100;
        padding-left: 5px;
        line-height: 0.9rem;
        padding-bottom: 5px;
        text-align: end;
        background: linear-gradient(45deg, rgb(36, 138, 25), rgb(9, 66, 13));
        color: white;

    }
    .SENDER-TEXT h3{
        padding: 0px;
        margin: 0px;
    }
    .RECEPIENT-TEXT h3{
        padding: 0px;
        margin: 0px;
    }
    .TIME{
        color: rgb(127, 196, 17);
        text-align: end;
       
        
    }
    .RECEPIENT-TEXT{
        min-height: 25px;
        width: 50%;
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 100;
        padding-left: 5px;
        line-height: 1rem;
        justify-content: center;
        text-align: start;
        padding-bottom: 0px;
        background:linear-gradient(45deg, rgb(19, 1, 5), rgb(76, 5, 14));
        color: white;
        border-left: 1px solid rgb(121, 6, 98);
        border-top: 1px solid rgb(83, 10, 58);

    }
    #BOTTOMBAR{
        background: linear-gradient(45deg, rgb(8, 8, 82), rgb(107, 13, 13));
        display: flex;
        min-height: 40px;
        flex-direction: row;
        align-items: center;
        place-content: space-between;
        width: unset;
        background-color: red;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        position: fixed;
        align-self: end;
        justify-self: start;
        width: 100%;
        gap: 20px;
        bottom: 0;
        align-items: end;

        
    }
    #FILE{
        width: 80px;
        border-radius: 8px;
        color: white;
        text-align: center;
        background: linear-gradient(50deg, rgb(106, 10, 10), darkblue);
        background-color: black;
        border: solid 1px white;
        min-height: 20px;
        margin-left: 20px;
    }
    #MESSAGE-DIV{
        margin-right: 10px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: end;
        justify-self: flex-start;
        gap: 15px;
       }
    #MESSAGE-INPUT{
        min-height: 20px;
        width: 100%;
        border-radius: 13px;
        border: none;
        border: solid 1px rgb(18, 6, 6) ;
        color: black;
        background-color: rgb(176, 120, 15);
        justify-self: center;
        align-content: center;
        padding-left: 10px;
        overflow-y: auto;
        font-family: 'lora';
    }

    #MESSAGE-INPUT:focus{
        background-color: rgb(11, 106, 24);
        color: rgb(212, 205, 205);
        border: none;
        outline: none;
    }
     #MESSAGE-INPUT:focus::placeholder{
        font-size: 0rem;
     }
    #MESSAGE-INPUT::placeholder {
        color: rgb(52, 24, 9);
        font-style: italic;
        font-weight: 100;
        text-shadow: 0 0 10px,
        0px 0px 10px rgb(13, 5, 44);
    }
    #SEND-BTN{
        height: 25px;
        border-radius: 10px;
        border: solid 1px rgb(138, 156, 18) ;
        background-color: rgb(36, 26, 6);
        border-left: none;
        align-self: flex-end;
        width: 40px;
        padding-bottom: 2.5px;
    }