@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Lora:ital,wght@0,400..700;1,400..700&family=Offside&family=Oleo+Script:wght@400;700&family=Rubik+Wet+Paint&family=Stack+Sans+Notch:wght@200..700&family=Trade+Winds&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

      #endItems{
        display: flex;
        min-width: 40%;
        align-items: start;
      }
      #viewers{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: start;
        padding-left: 3px;
        border-radius: 5%;
        height: 100%;
        border-left: solid 2px rgb(6, 170, 9);
      }
      #views{
        font-size: 13px;
        color: rgb(17, 149, 4);
        text-align: start;
        display: flex;
        flex-direction: column;
      }
      #viewersCount{
        color: bisque;
      }
      #followers{
        align-items: start;
        text-align: start;
        font-size: 13px;
        color: rgb(6, 170, 9);
      }
      #followersCount{
        color: bisque;
      }
      #actionBtns{
        width: 20px;
        position: relative;
      }
      .interestFollow {
        width: 65px;
        height: 30px;
        margin-top: 4px;
        background:linear-gradient(50deg,rgb(2, 93, 2),rgb(49, 2, 66));
        border: none;
        padding: 4px 8px;
        border-radius: 8px;
        font-weight: bold;
        font-family: 'Arial';
        cursor: pointer;
        font-size: 11px;
        align-self: center;
        justify-self: end;
        transition: all 0.3s;
        letter-spacing: 0px;
      }
      .interestFollow a {
        color: white;
        text-decoration: none;
      }