@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Lora:ital,wght@0,400..700;1,400..700&family=Offside&family=Oleo+Script:wght@400;700&family=Rubik+Wet+Paint&family=Trade+Winds&display=swap');
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;
    background-color: rgb(17, 14, 9);
}
@media (max-width: 500px) {


   #HOME-PAGE{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    overflow-y: scroll;

   }
    /*This is the beginning of the main section*/

  #mainSection {
    height: 100%;
    color: white;
    width: 100%;
    display: grid;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    grid-template-columns: repeat(1);
    grid-auto-rows: 460px;
    padding-top: 122px;
    scroll-behavior: smooth;
}
.MAIN-USERS {
    width: 98%;
    min-height: 460px; 
    margin-left: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0;
    scroll-snap-align: center;
    position: relative;
}
.MAIN-USERS-IMG{
    width: 98%;
    height: 100%;
    padding-top: 0px;
    background: rgb(3, 59, 94);
    background-attachment:fixed;
    background-position: center bottom;
    background-size: 100% 100%;
    outline: solid 1px rgb(124, 2, 106);
    border-radius: 3%;
    z-index: 1;
    position: static;
    padding-right: 5px;
}
.MAIN-USERS-USERNAME {
    position: static;
    z-index: 20;
    font-family: 'Lora';
    font-weight: 600;
    font-size: small;
    font-style: italic;
    width: 80%;
    letter-spacing: 1px;
    padding-left: 20px;
    background: rgba(0,0,0,0.5);
}



}
@media (min-width: 501px) {

   #HOME-PAGE{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
   }
    /*This is the beginning of the main section*/

  #mainSection {
    height: 100vh;
    color: white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    grid-auto-rows: 40%;
    padding-top: 110px;
    overflow-y: scroll;
}


.MAIN-USERS{
    width: 98%;
    min-height: 15%;
    align-self: center;
    justify-self: center;
    margin-top: 15px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    gap: 5px;
    margin-left: 15px;
    flex-direction: column;
}
.MAIN-USERS-IMG{
    width: 98%;
    height: 35vh;
    background: cyan;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    outline: solid 1px rgb(124, 2, 106);
    border-radius: 15px;
    z-index: 1;
}
.MAIN-USERS-USERNAME{
    font-family: 'Lora';
    font-weight: 600;
    font-size: small;
    font-style: italic;
}

}
@media (min-width: 768px) {
 #mainSection {
    height: 100%;
    color: white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.3%, 1fr));
    grid-auto-rows: 45%;
    padding-top: 110px;
}
 #HEADER-BOTTOM-DIV #HOME-SEARCH{
        width: 50%;
        margin-bottom:2px;
        height: 25px;
        border: none;
        outline: none;
        border-top-left-radius:15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius:30px;
        text-align: center;
        color: darkblue;
        font-weight: bold;
        font-family: 'lora';
    }
.MAIN-USERS-IMG{
         box-shadow: 0 0 10px rgb(33, 167, 71),
         0 0 20px rgb(74, 19, 19),
         0 0 20px rgb(55, 4, 34);
}}
@media (min-width: 1000px){
 #mainSection {
    height: 100%;
    color: white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.3%, 1fr));
    grid-auto-rows: 55%;
    padding-top: 110px;
}
    .MAIN-USERS{
     width: 98%;
     min-height: 20%;
     align-self: center;
     justify-self: center;
     margin-top: 15px;
     border-radius: 15px;
     align-items: center;
     display: flex;
     gap: 5px;
     margin-left: 15px;
     flex-direction: column;
    }
    .MAIN-USERS-IMG{
        width: 98%;
        height: 50vh;
        background: url('/mediafiles/users/p5.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        outline: solid 1px rgb(124, 2, 106);
        border-radius: 15px;
        z-index: 1;
    }
    .MAIN-USERS-USERNAME{
        font-family: 'Lora';
        font-weight: 600;
        font-size: small;
        font-style: italic;
}
 #HEADER-BOTTOM-DIV #HOME-SEARCH{
        width: 50%;
        margin-bottom:2px;
        height: 30px;
        border: none;
        outline: none;
        border-top-left-radius:15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius:30px;
        text-align: center;
        color: darkblue;
        font-weight: bold;
        font-family: 'lora';
    }
}
 #HEADER{
        background: linear-gradient(45deg, rgb(0, 0, 0), rgb(74, 9, 61));
        color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;
        border-top: solid 1px green;
        z-index: 100;
    }
    #HEADER-TOP-DIV{
        display: flex;
        place-content: space-between;
        align-items: center;
        gap: 3px;
        height: 3.5rem;
        place-content: space-between;
    }
    #APP-DETAILS{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        height: inherit;
        width:12em;
    }
    #HEADER-LOGO{
        background: url("/mediafiles/HeaderLogo.png");
        width: 40px;
        height: 40px;
        background-size: cover;
    }
    #HEADER-APPNAME{
        font-size: 0.7rem;
        align-self: center;
        color: rgb(230, 139, 206);
        font-family: 'Trade Winds';
        padding-right: 5px;
        text-align: center;
    }
   
    #HEADER-APPNAME h2{
        margin: 0px;
        padding: 0px;
    }
    #HEADER-MIDDLE-DIV{
        align-self: center;
        justify-self: start;
        height: 30px;      
    }
    #HEADER-MIDDLE-DIV H3{
        text-align: center;
        margin-top: 0px;
        font-family: 'Oleo script';
        font-weight:100;
        letter-spacing: 1px;
        font-size: small;   
    }
    #HEADER-BTNS{
        height: inherit;
        width: 100px;
        display: flex;
        gap: 5px;
        align-items: center;
    }
    .BADGE{
        background-color: red;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        font-size: 0.7rem;
        font-weight: bold;
        padding-right: 1px;
        bottom: 2.8em;
        left: 2em;
        position: relative;
    }
    #USER-DETAILS{
        display: flex;
        flex-direction: row;
        width: 180px;
        gap: 10px;
        justify-content: end;
    }
    #HEADER-USERNAME{
        font-family: 'lora';
        font-size: 0.7em;
        padding-bottom: 6px;
        font-style: italic;
    }
    #HEADER-BOTTOM-DIV{
        align-self: center;
        justify-self: center;
        display: flex;
        margin-bottom: 5px;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    #HEADER-BOTTOM-DIV #HOME-SEARCH{
        width: 50%;
        margin-bottom:2px;
        height: 20px;
        border: none;
        outline: none;
        border-top-left-radius:15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius:30px;
        text-align: center;
        color: rgb(0, 255, 55);
        font-weight: bold;
        font-family: 'lora';
        text-shadow: 0 0 7px darkblue,
        0 0 7px darkblue,
        0 0 7px rgb(6, 6, 39),
        0 0 7px rgb(2, 2, 35);
    }
     #headerLine{
        animation: transit 5s ease ;
        opacity: 0;
        transition: 4s ease;
    }
    @keyframes transit{
        0%{width: 0px; opacity: 1; }
        15%{transform: rotate(720deg);}
        99%{opacity: 1;}
        100%{transform: rotate(720deg); opacity: 0;}
    }
    #HEADER-BTNS{
        height: inherit;
        width: 100px;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .HEADER-BTNS{
        width: 4em;
        height: 50%;
        border-radius: 30px;
        outline: none;
        border: none;
        color: white;
        font-size: 1.2rem;
        background-color: rgb(108, 13, 89);
    }
    .HEADER-BTNS a{
        text-decoration:none;
    }
    .HEADER-BTNS:hover{
        border: solid 2px rgb(11, 5, 9);
        background: radial-gradient(rgb(46, 9, 31), rgb(173, 106, 106));
        border-left: none;
        border-right: none;
        scale: 1.1;
        height: 55%;
    }
    .HEADER-BTNS a:hover{
        text-decoration: none;
    }
    #HEADER-PROFILEPIC{
        background: radial-gradient(rgb(1, 39, 1), rgb(207, 98, 173));
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 2px;
        justify-self: center;
        border: 1px solid rgb(23, 29, 4);
        margin-right: 5px;
        background: url('/mediafiles/chalk-4829602_1280.jpg');
        background-size: cover;
    }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: rgb(13, 255, 0);
  text-shadow: 0 0 20px rgb(4, 12, 153),
  0 0 20px rgb(4, 12, 153),
  0 0 20px rgb(153, 4, 44),
  0 0 20px rgb(13, 13, 25);
}
#CHATSH-BTN span{
    padding: 0;
    margin-top: 1.5px;
}
#INTERESTSH-BTN span{
    text-align: center;
    justify-content: center;
    padding: 0;
    margin-top: 1px;
}
.HEADER-BTNS{
    background:transparent;
}
#HEADER-USERNAME{
    padding-top: 8px;
}
#HOME-SEARCH{
    background: linear-gradient(45deg,rgb(0, 53, 139),rgb(3, 165, 14));
}
#searchInputBtn{
    margin-bottom: 4px;
    margin-left: 5px;
}
#mainSection{
    background: url('/mediafiles/roseFlower.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
}
#HOME-SEARCH:focus{
    background: none;
    background-color: rgb(108, 69, 104);
    color: rgb(238, 223, 195);
}
#HOME-SEARCH:focus::placeholder{
    font-size: 0;
}
#HOME-SEARCH::placeholder{
    color: whitesmoke;}
.MAIN-USERS-COURSE{
    max-width: 20px;
}
.itemsGrp{
    display: flex;
    align-items: center;
    place-content: space-evenly;
    height: 60px;
    width: 100%;
    background:linear-gradient(90deg, green,rgb(4, 51, 4));
    justify-content: center;}
.like{
    margin-left: 4px;
    height: 50%;
    border-radius: 8px;
    border: none;
}
.commentBtns{
    margin-right: 5px;
    height: 50%;
    border-radius: 8px;
    border: solid 1px black;
    color: black;
    background:radial-gradient(rgb(5, 71, 5),whitesmoke);
}

.commentsBody{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 360px;
    margin-bottom: 3px;
    width: 98%;
   
    padding: 0 5px 0 5px;
    background: radial-gradient(rgb(47, 64, 3),rgb(10, 3, 64));
    align-self: start;
    border: solid 1px pink;
    font-family:'lora';
    border-radius: 5px;
}
.commentsBody h3{
    max-width: 100%;
    text-align: center;
    justify-self: center;
    align-self: center;
    height: 30px;
    margin: 0%;
    letter-spacing: 2px;
    margin-left: 5px;
    padding: 0%;
    border-bottom: solid 1px pink;
}
.commentsBody h4{
    text-align: start;
}
.addComment{
    justify-self: center;
    align-self: center;
    width: 20%;
    height: 27px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: purple;

}
.newCommentItems{
    width: 100%;
    display: flex;
    place-content: space-between;
    gap: 4px;
}
.newCommentItems input{
    width: 80%;
    margin-left: 3px;
    border: none;
    background-color: black;
    border: solid 1px wheat;
    border-radius: 5px;
    outline: none;
    color: white;
    padding-left: 5px;
}
.newCommentItems input::placeholder{
    color: wheat;
}
  #exit{
        width: 30px;
        height: 30px;
        margin: 5px 0 3px 0;
        background-color: transparent;
        border: none;
        box-shadow: 0 0 10px rgb(0, 255, 136);
        border-radius: 50%;
        color: gray;
        position: fixed;
        bottom: 4px;
        right: 46%;
        cursor: pointer;
        z-index: 10;
      }
  










    
