      @import url("https://fonts.googleapis.com/css2?family=Kranky&family=Lora:ital,wght@0,400..700;1,400..700&family=Offside&family=Oleo+Script:wght@400;700&family=Rubik+Wet+Paint&family=Trade+Winds&display=swap");
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      html,
      body {
        height: 100vh;
        width: 100vw;
      }

      body {
        background: hsl(213, 91%, 9%);
        font-family: "Poppins", system-ui, sans-serif;
        color: #fff;
        display: flex;
        justify-content: center;
      }

      .app {
        width: 100%;
        height: 134vh;
        background: rgb(20, 0, 0);
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.45);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
      }

      #HEADER {
        background: linear-gradient(45deg, rgb(0, 0, 0), rgb(74, 9, 61));
        color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
      }
      #HEADER-TOP-DIV {
        display: flex;
        place-content: space-between;
        align-items: center;
        gap: 3px;
        height: 3.5rem;
        place-content: space-between;
      }
      #APP-DETAILS {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        height: inherit;
        width: 12em;
      }
      #HEADER-LOGO {
        background: url('/mediafiles/HeaderLogo.png');
        width: 40px;
        height: 40px;
        background-size: cover;
      }
      #HEADER-APPNAME {
        font-size: 0.6rem;
        align-self: center;
        color: rgb(230, 139, 206);
        font-family: "Trade Winds";
        padding-right: 5px;
      }

      #HEADER-APPNAME h2 {
        margin: 0px;
        padding: 0px;
      }
      #HEADER-MIDDLE-DIV {
        align-self: center;
        justify-self: start;
        height: 30px;
      }
      #HEADER-MIDDLE-DIV H3 {
        text-align: center;
        margin-top: 0px;
        font-family: "Oleo script";
        font-weight: 100;
        letter-spacing: 1px;
        font-size: small;
      }
      #HEADER-BTNS {
        height: inherit;
        width: 100px;
        display: flex;
        gap: 5px;
        align-items: center;
      }
      .BADGE {
        background-color: red;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        font-size: 0.7rem;
        font-weight: bold;
        padding-right: 1px;
        bottom: 2.8em;
        left: 2em;
        position: relative;
      }
      .HEADER-BTNS {
        width: 4em;
        height: 50%;
        border-radius: 30px;
        outline: none;
        border: none;
        color: white;
        font-size: 1.2rem;
        background-color: rgb(85, 28, 111);
      }
      #USER-DETAILS {
        display: flex;
        flex-direction: row;
        width: 180px;
        gap: 10px;
        justify-content: end;
      }
      #HEADER-USERNAME {
        font-family: "lora";
        font-size: 0.6em;
        font-style: oblique;
      }
      #HEADER-PROFILEPIC {
        background-color: rgb(27, 9, 51);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-top: 2px;
        justify-self: center;
        border: 1px solid black;
        margin-right: 3px;
        background: url('/mediafiles/darkishImagegirl.jpg');
        background-size: cover;
      }
      #HEADER-BOTTOM-DIV {
        align-self: center;
        justify-self: center;
        display: flex;
        margin-bottom: 5px;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
      .sub-bar {
        text-align: center;
        padding: 3px;
      }

      .subtitle {
        color: #7cd1f9;
        font-weight: 600;
        font-size: 9px;
      }

      .tagline {
        font-size: 16px;
        color: #cfdbe6;
        margin-top: 1px;
        font-style: italic;
      }

      .content {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px;
        gap: 6px;
        margin-top: 90px;
      }

      .profile-card {
        background: linear-gradient(#6d9906, #157a04);
        border-radius: 10px;
        display: flex;
        gap: 8px;
        align-items: center;
        border: 1px solid #3b2121;
        width: 100%;
      }

      .editable-photo {
        position: relative;
        width: 90px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .editable-photo img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: solid 1px black;
        background:radial-gradient(rgb(70, 18, 18),rgb(93, 2, 93));
        object-fit: cover;
        font-size: 0;
      }

      .edit-icon {
        position: absolute;
        bottom: 5px;
        right: 8px;
        background: #000000aa;
        border-radius: 50%;
        padding: 3px;
        cursor: pointer;
        font-size: 12px;
      }

      .info {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: start;
        background: linear-gradient(40deg, rgb(40, 2, 54), rgb(4, 46, 4));
        padding: 6px;
        border-radius: 20px;
        text-align: center;
        border: 1px solid #355b3e;
      }
      #infos {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        width: 240px;
        align-items: flex-start;
        align-self: center;
        gap: 10px;
      }

      .info input {
        background: transparent;
        justify-self: center;
        border: none;
        border-bottom: 1px solid #1c6717;
        padding-bottom: 3px;
        color: #fff;
        font-size: 12px;
        outline: none;
        width: 60%;
      }

      .log-out {
        width: 30%;
        height: 30px;
        margin-top: 4px;
        background: #4cff73;
        border: none;
        padding: 4px 8px;
        border-radius: 8px;
        font-weight: 600;
        cursor: pointer;
        font-size: 11px;
        align-self: center;
        transition: all 0.3s;
      }
      .log-out:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px #00ffff, 0 0 20px #ff00cc;
      }

      .slogan {
        text-align: center;
        font-style: italic;
        color: #f0f0f0;
        font-size: 11px;
      }

      .desc-title {
        text-align: center;
        font-size: 12px;
        color: #b09ce9;
        font-family: 'oleo script';
      }

      .desc-box {
        background: linear-gradient(20deg, rgb(41, 6, 6), rgb(1, 22, 1));
        width: 100%;
        min-height: 200px;
        border-radius: 8px;
        border: 1px solid #32533b;
        padding: 6px;
        color: #fdfefd;
        font-size: 15px;
        font-family: 'lora';
        letter-spacing: .8px;
        text-align: justify;
        font-style: italic;
        line-height: 25px;
        max-height: 100%;
      }

      .gallery {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 20px;
        width: 100%;
        padding-bottom: 6px;
      }

      .gallery::-webkit-scrollbar {
        display: none;
      }

      .item {
        flex: 0 0 auto;
        min-height: 450px;
        width: 100%;
        overflow: hidden;
        scroll-snap-align: start;
        border: 2px solid #422020;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        position: relative;
        transition: transform 0.4s, box-shadow 0.4s;
      }

      .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
      .item:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px #ff00ccaa, 0 0 30px #00ffff77;
      }

      .item .edit-icon {
        position: absolute;
        bottom: 5px;
        right: 5px;
        background: #000000aa;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        font-size: 14px;
      }
      #profName {
        font-weight: bold;
      }
      #HEADER-USERNAME{
        margin-top: 13px;
      }
      .material-symbols-outlined{
       padding-top: 3px;
       color: #00ffff;
      }