@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Lora:ital,wght@0,400..700;1,400..700&family=Offside&family=Oleo+Script:wght@400;700&family=Rubik+Wet+Paint&family=Stack+Sans+Notch:wght@200..700&family=Trade+Winds&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      html,
      body {
        height: 100vh;
        width: 100vw;
        user-select: none;
      }

      body {
        background: hsl(13, 69%, 5%);
        font-family: "Poppins", system-ui, sans-serif;
        color: #fff;
        display: flex;
        justify-content: center;
      }

      .app {
        width: 100%;
        height: max-content;
        background: rgb(26, 14, 7);
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.45);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        padding: 0px;
        justify-content: space-around;
        align-items: center;
        margin: 0px;
      }
      .sub-bar {
        text-align: center;
        padding: 3px;
      }

      .subtitle {
        color: #7cd1f9;
        font-weight: 600;
        font-size: 9px;
      }

      .tagline {
        font-size: 16px;
        color: #cfdbe6;
        margin-top: 1px;
        font-style: italic;
      }

      .content {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px;
        gap: 6px;
      }
      .main,.middles{
        width: 98%;
      }
      .profile-card {
        background: linear-gradient(rgb(3, 148, 32), #028911);
        border-radius: 10px;
        display: flex;
        gap: 8px;
        align-items: center;
        border-top: solid 1px green;
        width: 98%;
        position: fixed;
        top: 3px;
        padding: 0 1px;
        z-index: 1;
        box-shadow: 0 0 10px rgb(40, 7, 7),
        0 0 25px rgb(40, 7, 7),
        0 0 25px rgb(40, 7, 7),
        0 0 25px rgb(40, 7, 7),
        0 0 25px rgb(40, 7, 7);
      }

      .editable-photo {
        position: relative;
        min-width: 70px;
        max-width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .editable-photo img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: solid 1px black;
        background:radial-gradient(rgb(70, 18, 18),rgb(93, 2, 93));
        object-fit: cover;
        font-size: 0;
        background-position: center center;
        transition: .4s ease-in-out;
      }

      .edit-icon {
        position: absolute;
        bottom: 5px;
        right: 8px;
        background: #000000aa;
        border-radius: 50%;
        padding: 3px;
        cursor: pointer;
        font-size: 12px;
        display: none;
      }

      .info {
        width:100%;
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 0px;
        align-items: start;
        background: linear-gradient(40deg, rgb(40, 2, 54), rgb(4, 46, 4));
        padding: 6px;
        border-radius: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(2, 69, 2);
       
      }
      #infos {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: center;
        width: 35%;
        gap: 8px;
        
      }
      #profName {
        font-weight: bold;
        font-family: 'Rubik Wet Paint';
        letter-spacing: 1px;
        font-weight: 100;
        border-left: solid 2px rgb(20, 182, 11);
        border-radius: 4px;
        padding-left: 4px;
        font-size: small;
        height: 20px;
      }

      .info input {
        background: transparent;
        justify-self: center;
        border: none;
        
        padding-bottom: 4px;
        color: #fff;
        font-size: 12px;
        padding-left: 5px;
        border-radius: 4px;
        border-left: solid 2px rgb(20, 182, 11);
        outline: none;
        height: 20px;
        width: 90%;
        max-width: 200px;
      }
      #outSet{
        display: flex;
        flex-direction: row;
        width: 40%;
        align-items: center;
        height: stretch;
        justify-content: start;
        place-content:space-between;
      }
      #insetA{
        display: flex;
        flex-direction: column;
        width: 57%;
        align-items: center;
        justify-content: flex-start;
        border-left: solid 1px gray;
        border-right: solid 1px gray;
        border-top: solid 1px gray;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: medium;
      
        color: rgb(6, 184, 24);
      }
      #insetA span{
        color: wheat;
        font-size: small;
        letter-spacing: 2px;
        width: 100%;
        border-bottom: solid 1px gray;
        border-top: solid 1px gray;
      }
      #insetB{
        display: flex;
        flex-direction: column;
        height: stretch;
        place-content: space-between;
        align-content: end;
      }
      .log-out {
        width: 100%;
        height: 30px;
        margin-top: 4px;
        background:linear-gradient(50deg,rgb(2, 93, 2),rgb(49, 2, 66));
        border: none;
        padding: 4px 8px;
        border-radius: 8px;
        font-weight: bold;
        font-family: 'Trade Winds';
        cursor: pointer;
        margin-left: 9px;
        font-size: 10px;
        align-self: center;
        justify-self: center;
        transition: all 0.3s;
        letter-spacing: 0px;
        border: solid 1px gray;
      }
      .log-out a {
        color: wheat;
      }
      .log-out:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px #da00f7, 0 0 10px #270247;
      }
      #Edit{
        color: wheat;

      }
      .slogan {
        text-align: center;
        font-style: normal;
        font-size: 11px;
        position: absolute;
        z-index:0;
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: row;
        margin-bottom: 5px;
        width: 90%;
        place-content: space-between;
        text-align: center;
        color: orangered;
        margin-top: 93px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
      #sloganValue{
        min-width: 40px;
      }

      .desc-title {
        text-align: center;
        font-size: 12px;
        color: #b09ce9;
        font-family: 'oleo script';
      }

      .desc-box {
        background: linear-gradient(20deg, rgb(41, 6, 6), rgb(1, 22, 1));
        width: 100%;
        min-height: 130px;
        border-radius: 8px;
        border: 1px solid #32533b;
        padding: 6px;
        color: #fdfefd;
        font-size: 15px;
        font-family: 'lora';
        letter-spacing: .8px;
        text-align: justify;
        font-style: italic;
        line-height: 25px;
        max-height: 100%;
      }

      .gallery {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 20px;
        width: 100%;
        padding-bottom: 6px;
        margin-top: 125px;
        height: 500px;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
      }

      .gallery::-webkit-scrollbar {
        display: none;
      }

      .item {
        flex: 0 0 auto;
        min-height: 450px;
        width: 100%;
        overflow: hidden;
        scroll-snap-align: start;
        border: 2px solid rgb(92, 28, 7);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        position: relative;
        border-radius: 5%;
        transition: 0.4s;
        scroll-snap-align: center;
      }
      .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
      .item:hover {
        transform: scale(1.07);
        box-shadow: 0 0 20px #520257aa, 0 0 30px #60016477;
        transition: 3s ease;
        justify-content: center;
        left: 0;
      }

      .item .edit-icon {
        position: absolute;
        bottom: 5px;
        right: 5px;
        background: #000000aa;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        font-size: 14px;
      }
      #HEADER-USERNAME{
        margin-top: 13px;
      }
      .material-symbols-outlined{
       padding-top: 3px;
       color: white;
       text-align: center;
       justify-content: center;
       text-shadow: 0 0 rgb(9, 17, 111),
       0 0 rgb(24, 7, 107),
       0 0 rgb(5, 18, 100),
       0 0 rgb(17, 8, 110);
       cursor: pointer;
      }
      .material-symbols-outlined:hover{
        color: cyan;
        scale: 1.05;
      }
      #submit{
        width: 97%;
        height: 35px;
        margin-top: 10px;
        display: none;
        border-radius: 10px;
        background:linear-gradient(50deg, rgb(5, 56, 1),rgb(38, 1, 1));
        border: none;
        box-shadow: 0 0 5px  rgb(191, 58, 224);
        color: rgb(163, 15, 134);
        position:-ms-page;
        align-self: center;
        /* text-shadow: 0 0 15px rgb(103, 3, 103),
        5px 0 15px rgb(96, 3, 96),
        0 0 15px rgb(3, 72, 24); */
        justify-self: end;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding-left: 15px;
        margin-bottom: 5px;
      }
      .anim {
        animation: submitAnim 5s ease-in-out infinite;
      }
      @keyframes submitAnim {
        0%{}
        50%{ color: rgb(234, 55, 180); box-shadow: 0 0 5px pink; border-radius: 10px;}
        100%{}
      }
      #insideBtn{
        width: 2px;
        height: 28px;
        background-color: rgb(47, 158, 255);
        animation: load 1s ease-out infinite;
        border-radius: 5px;
        transition: .5s;
      }
     @keyframes load {
      0%{}
      50%{height: 0px; background-color: palevioletred;}
      100%{}
     }
     #items{
      display: none;
      align-items: center;
      gap: 5px;
     }
     #saving{
      color: rgb(0, 145, 255);
     }
     .unhide{
        display: flex;
      }
    #exit{
        width: 30px;
        height: 30px;
        margin: 5px 0 3px 0;
        background-color: transparent;
        border: none;
        box-shadow: 0 0 10px rgb(0, 255, 0);
        border-radius: 50%;
        color: gray;
        position: fixed;
        bottom: 4px;
        right: 46%;
        cursor: pointer;
      }
      .editNow{
        background-color: red;
        color: white;
      }
      .clickedPhoto{
        position: fixed;
        width: 98vw;
        height: auto;
        justify-self: start;
        left: 1%;
        bottom: 0%;
        z-index: 20;
        height: 75vh;
        border-radius: 5%;
        border: none;
        background-size: cover;
        backdrop-filter: blur(70px);
        border: solid 1px white;
        transition: .3s ease-out;
      }