@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Lora:ital,wght@0,400..700;1,400..700&family=Offside&family=Oleo+Script:wght@400;700&family=Rubik+Wet+Paint&family=Stack+Sans+Notch:wght@200..700&family=Trade+Winds&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      html,
      body {
        height: 100vh;
        width: 100vw;
      }

      body {
        background: hsl(13, 69%, 5%);
        font-family: "Poppins", system-ui, sans-serif;
        color: #fff;
        display: flex;
        justify-content: center;
      }

      .app {
        width: 100%;
        height: 134vh;
        background: rgb(20, 0, 0);
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.45);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
      }
      .sub-bar {
        text-align: center;
        padding: 3px;
      }

      .subtitle {
        color: #7cd1f9;
        font-weight: 600;
        font-size: 9px;
      }

      .tagline {
        font-size: 16px;
        color: #cfdbe6;
        margin-top: 1px;
        font-style: italic;
      }

      .content {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px;
        gap: 6px;
      }

      .profile-card {
        background: linear-gradient(rgb(3, 148, 32), #028911);
        border-radius: 10px;
        display: flex;
        gap: 8px;
        align-items: center;
        border: 1px solid #401b1b;
        width: 98%;
        position: fixed;
        top: 3px;
        z-index: 1;
        box-shadow: 0 0 10px rgb(40, 7, 7),
        0 0 25px rgb(40, 7, 7),
        0 0 25px rgb(40, 7, 7),
        0 0 25px rgb(40, 7, 7),
        0 0 25px rgb(40, 7, 7);
      }

      .editable-photo {
        position: relative;
        min-width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .editable-photo img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: solid 1px black;
        background:radial-gradient(rgb(70, 18, 18),rgb(93, 2, 93));
        object-fit: cover;
        font-size: 0;
        background-position: center center;
      }

      .edit-icon {
        position: absolute;
        bottom: 5px;
        right: 8px;
        background: #000000aa;
        border-radius: 50%;
        padding: 3px;
        cursor: pointer;
        font-size: 12px;
      }

      .info {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: start;
        background: linear-gradient(40deg, rgb(40, 2, 54), rgb(4, 46, 4));
        padding: 6px;
        border-radius: 20px;
        text-align: center;
        border: 1px solid rgb(2, 69, 2);
      }
      #infos {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        width: 240px;
        align-items: flex-start;
        align-self: center;
        width: stretch;
        gap: 10px;
      }

      .info input {
        background: transparent;
        justify-self: center;
        border: none;
        border-bottom: 1px solid #afb7af;
        padding-bottom: 3px;
        color: #fff;
        font-size: 12px;
        padding-left: 5px;
        border-radius: 4px;
        border-left: solid 2px white;
        outline: none;
        width: 60%;
        max-width: 200px;
      }

      .log-out {
        width: 150px;
        height: 30px;
        margin-top: 4px;
        background:linear-gradient(50deg,rgb(2, 93, 2),rgb(49, 2, 66));
        border: none;
        padding: 4px 8px;
        border-radius: 8px;
        font-weight: bold;
        font-family: 'Trade Winds';
        cursor: pointer;
        font-size: 11px;
        align-self: flex-start;
        justify-self: end;
        transition: all 0.3s;
        letter-spacing: 0px;
      }
      .log-out a {
        color: #c8b4ff;
      }
      .log-out:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px #da00f7, 0 0 10px #270247;
      }

      .slogan {
        text-align: center;
        font-style: normal;
        font-size: 11px;
        position: absolute;
        z-index:0;
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: row;
        margin-bottom: 5px;
        width: 90%;
        place-content: space-between;
        text-align: center;
        padding-top: 5px;
        color: #c8b6f6;
        text-shadow: 0 0 5px black,
        0 0 5px black,
        0 0 5px black;
        padding-top: 85px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }

      .desc-title {
        text-align: center;
        font-size: 12px;
        color: #b09ce9;
        font-family: 'oleo script';
      }

      .desc-box {
        background: linear-gradient(20deg, rgb(41, 6, 6), rgb(1, 22, 1));
        width: 100%;
        min-height: 200px;
        border-radius: 8px;
        border: 1px solid #32533b;
        padding: 6px;
        color: #fdfefd;
        font-size: 15px;
        font-family: 'lora';
        letter-spacing: .8px;
        text-align: justify;
        font-style: italic;
        line-height: 25px;
        max-height: 100%;
      }

      .gallery {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 20px;
        width: 100%;
        padding-bottom: 6px;
        margin-top: 120px;
        height: 500px;
      }

      .gallery::-webkit-scrollbar {
        display: none;
      }

      .item {
        flex: 0 0 auto;
        min-height: 450px;
        width: 100%;
        overflow: hidden;
        scroll-snap-align: start;
        border: 2px solid #422020;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        position: relative;
        transition: transform 0.4s, box-shadow 0.4s;
      }

      .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
      .item:hover {
        transform: scale(1.07);
        box-shadow: 0 0 20px #520257aa, 0 0 30px #60016477;
        transition: 3s ease;
        justify-content: center;
        left: 0;
      }

      .item .edit-icon {
        position: absolute;
        bottom: 5px;
        right: 5px;
        background: #000000aa;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        font-size: 14px;
      }
      #profName {
        font-weight: bold;
        font-family: 'Rubik Wet Paint';
        letter-spacing: 1px;
        font-weight: 100;
        border-left: solid 2px white;
        border-radius: 4px;
        padding-left: 4px;
        font-size: small;
      }
      #HEADER-USERNAME{
        margin-top: 13px;
      }
      .material-symbols-outlined{
       padding-top: 3px;
       color: white;
       text-align: center;
       justify-content: center;
       text-shadow: 0 0 black,
       0 0 black,
       0 0 black,
       0 0 black;
      }
      .material-symbols-outlined:hover{
        color: cyan;
        scale: 1.05;
      }
      #submit{
        width: 100%;
        height: 35px;
        margin-top: 10px;
        border-radius: 5px;
        background:linear-gradient(50deg, rgb(5, 56, 1),rgb(38, 1, 1));
        border: solid 1px rgb(49, 88, 4);
        color: rgb(150, 197, 110);
        position:-ms-page;
        align-self: center;
        text-shadow: 0 0 15px rgb(103, 3, 103),
        5px 0 15px rgb(96, 3, 96),
        0 0 15px rgb(3, 72, 24);
        justify-self: end;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding-left: 15px;
      }
      .anim {
        animation: submitAnim 10s ease-in-out infinite;
      }
      @keyframes submitAnim {
        0%{}
        50%{border: solid 1px rgb(156, 11, 118); color: rgb(204, 34, 153); box-shadow: 0 0 5px pink; border-radius: 10px;}
        100%{}
      }
      #insideBtn{
        width: 2px;
        height: 28px;
        background-color: rgb(47, 158, 255);
        animation: load 1s ease-out infinite;
        border-radius: 5px;
        transition: .5s;
      }
     @keyframes load {
      0%{}
      50%{height: 0px; background-color: palevioletred;}
      100%{}
     }
     #items{
      display: none;
      align-items: center;
      gap: 5px;
     }
     #saving{
      color: rgb(0, 145, 255);
     }